preprocessing and n8n code/n8n codes for branching chunks and uploading/Generate_Answer.json
{
  "name": "Generate Answer",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are an AI educational assistant designed to help HSC26 students with their Bangla 1st paper studies. Your main job is to answer questions, explain concepts, and help students understand and revise the Bangla 1st paper curriculum. You will receive questions from students in either Bengali or English.\n\nBehavior Rules:\n\n* Always answer as a friendly, supportive, and clear tutor for HSC26 students.\n* Use simple, academically correct language suitable for high school students.\n* If the question is in Bengali, answer in Bengali. If the question is in English, answer in English.\n* Explanations should be concise, clear, and student-friendly.\n\nRetrieval and Answering Strategy:\n\n1. When you receive a question, always search for relevant context or answers from the \"Main knowledge\" database first, regardless of question type.\n2. If a sufficient answer or context is found in \"Main knowledge\", use it to construct your reply.\n3. If you cannot find a good answer in \"Main knowledge\", then search in the \"MCQ\" database for possible answers or explanations.\n4. Only use \"MCQ\" if \"Main knowledge\" does not provide an answer.\n5. If neither database provides an answer, politely inform the student that the answer is not available, and suggest trying to ask in a different way or topic.\n\nFormat:\nWhen you answer, follow this format:\n\n* If answer is found: Answer clearly, in the same language as the question.\n* If not found: \"Sorry, I couldn't find an answer to your question. Please try rephrasing or ask about another topic.\"\n\n---\n\nExample Usage (how your workflow will call the agent):\n\nQuestion: \n {{ $json.chatInput }}\n\n---\n\nInstructions to Agent:\n\n* Always start with \"Main knowledge\". Use \"MCQ\" only as fallback.\n* Never skip searching \"Main knowledge\".\n* Prioritize helpful, accurate, and student-friendly explanations.\n\n\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        20,
        -100
      ],
      "id": "5866f817-c4e1-4088-927c-229086ac4735",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        -40
      ],
      "id": "0f2fc72f-940c-418f-b770-0c525d8ee36e",
      "name": "When chat message received",
      "webhookId": "b31f5a71-33fe-43ea-9723-56716f6d4ea2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        140
      ],
      "id": "8048f595-0024-405b-a9f4-1d7d7c02a8fc",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "NfsYmZjPB942KOq3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        160
      ],
      "id": "0374b7b6-a3f9-474e-bb54-b124f7be4913",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        200
      ],
      "id": "bca6022f-60a6-42a2-bc39-88ddd4282811",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "NfsYmZjPB942KOq3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "knowledge_base for questions",
        "tableName": {
          "__rl": true,
          "value": "documents_others",
          "mode": "list",
          "cachedResultName": "documents_others"
        },
        "topK": 10,
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        640,
        60
      ],
      "id": "3df957ca-e20d-492f-8d14-5bf325938a65",
      "name": "Main knowledge",
      "credentials": {
        "supabaseApi": {
          "id": "59qRrGIzfQvgNVJ5",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "mcq_knowledge",
        "toolDescription": "This database has some information about some mcq and there answers.\n\n\n",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        260,
        200
      ],
      "id": "d3275b93-1d1f-4c97-bb2a-db8cf93e74f7",
      "name": "MCQ",
      "credentials": {
        "supabaseApi": {
          "id": "XuAyLwZN7jrYQFtj",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        360
      ],
      "id": "b2dc9723-f469-4e63-b29e-a22d066e571e",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "NfsYmZjPB942KOq3",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Main knowledge",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Main knowledge": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "MCQ",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5588725d-eaf2-4f4e-bd93-902fa2f117c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1c759e00e44288383fb29ee4f7ca06a3bdfc8d50324ebc0ac49262448f1598f"
  },
  "id": "Hy2dcOfbYftzTb5Q",
  "tags": []
}